<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.2.1" targetFramework="net45" />
  <package id="NLog.Config" version="4.2.1" targetFramework="net45" />
  <package id="NLog.Schema" version="4.2.1" targetFramework="net45" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net45" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net45" />
</packages>